body {
  margin: 0;
  padding: 0;
  background-color: #f6eddc;
}

/* HERO */
.hero {
  padding: 80px 60px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

.btn-primary {
  background: #ff7a3d;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
}

.btn-secondary {
  background: #4caf50;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.main-info-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  gap: 60px;
  background: #ffffff;
}

/* LEFT CONTENT */
.main-info {
  max-width: 55%;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  color: #666;
}

.main-info h1 {
  font-size: 48px;
  margin: 15px 0;
  color: #1a1a1a;
  line-height: 1.2;
}

.main-info p {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 15px;
}

/* RIGHT IMAGE */
.image-wrapper {
  position: relative;
}

.main-logo-info {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #000;
}

/* OUTLETS BADGE */
.badge {
  position: absolute;
  top: 20px;
  right: -30px;
  width: 140px;
  height: 140px;
  background: #fff;
  border: 6px solid #9b6a00;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge h2 {
  margin: 0;
  font-size: 36px;
  color: #000;
}

.badge span {
  font-size: 14px;
  color: #555;
}


/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px;
}

.feature-card {
  background: #fff;
  padding: 30px;
  width: 260px;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  color: #ff7a3d;
  margin-bottom: 10px;
}

.feature-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

/* ABOUT SECTION */
.about-section {
  padding: 60px;
  text-align: center;
  background-color: #fff;
  margin:50px;
  
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.about-section p {
  max-width: 800px;
  margin: auto;
  font-size: 17px;
}

.about-section ul {
  margin-top: 20px;
  list-style: none;
}

.about-section li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #fff;
  padding: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.stat h1 {
  color: #ff7a3d;
  font-size: 40px;
}

.stat p {
  font-size: 16px;
}

/* FOOTER */
footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Footer Section */
.footer {
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
}

/* Footer content */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
}

/* Footer boxes */
.footer-box {
  flex: 1 1 220px;
  margin: 10px;
}

.footer-box h2,
.footer-box h3 {
  color: #ff9800;
  margin-bottom: 15px;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}

/* Links */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.footer-box ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-box ul li a:hover {
  color: #ff9800;
}

/* Social icons */
.social-icons a {
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff9800;
}

/* Bottom bar */
.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #111;
  font-size: 14px;
}